.ds-masthead {
  .ds-masthead-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
  }

  p {
    font-size: 1.25rem;
    font-weight: 100;
    color: white;
  }
}
