.ds-navbar {
  box-shadow: none;

  &.euiHeader {
    height: 75px;
    background-color: transparent;
    border-bottom-color: transparent;
  }

  .euiHeaderSectionItem::after {
    content: none;
  }

  .euiHeaderLogo {
    padding: 0.5em;

    img {
      height: 100%;
      width: initial;
    }
  }

  .euiHeaderLink.euiHeaderLink-isActive {
    color: white;
    border-bottom: 1px solid white;
  }

  .euiHeaderLink:focus {
    background: transparent;
  }

  .euiHeaderLink:hover,
  .euiHeaderLink:focus {
    text-decoration: none;
  }
}
