.ds-masthead {
  .ds-masthead-content {
    flex: 1;
  }

  h1 {
    font-size: 4rem;
  }

  @media screen and (max-width: 640px) {
    h1 {
      font-size: 2rem;
    }
  }
}

.ds-section {
  margin: 0 auto;
  padding: 5em 0;

  &.dark {
    background-color: $gray-900;
    color: white;
  }
}
