.navbar-nav {
  .btn.btn-link {
    color: $navbar-nav-link-color;
    border-radius: 0;

    &.active,
    &:hover {
      border-bottom: 1px solid $white;
      text-decoration: none;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
    }
  }
}
